<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/crossphd">Chris</a>, a clinical psychologist with a love for coding and all things computer science.
  </p>

  <p>
    Splurty is the spawn of a new found love affair with 'rails.' It's a database-powered quotes generator with a mobile-first design, built with Ruby on Rails, HTML, CSS3, GitHub and Heroku.
  </p>

  <div class="col-xs-12 col-sm-4">
  <br />
    <%= image_tag 'witharia.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <br />
    <br />
    <h2 class="text-center">Christopher Ross</h2>
    <br />
    <p>
      Chris is a husband, father of two wonderful girls (who take after their beautiful mommy), and a licensed clinical psychologist working in the field of clinical infomatics. Informatics is an excellent fit for his passions, bridging the practice and delivery of clinical care with data and computer science. He received his PhD in clinical psychology in 2008, and is currently working on an MS in Computer Science.
    </p>
  </div>


</div>
<br class="clear" />
<br />
<br />
<br />
<br />
