<h3>
  <span>SPLURTY / No. <%= @quote.id %></span>
</h3>

<h1><%= @quote.saying %></h1>
<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<%= @quote.author %></h2>
<h4>
<br />
<br />
<br />
(Click Contribute above to add your own!)
</h4>
<br class="clear" />
<br />
<br />
<br />
