@font-face {
    font-family: 'eponymousitalic';
    src: url('/assets/eponymous-italic-webfont.eot');
    src: url('/assets/eponymous-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/eponymous-italic-webfont.woff2') format('woff2'),
         url('/assets/eponymous-italic-webfont.woff') format('woff'),
         url('/assets/eponymous-italic-webfont.ttf') format('truetype'),
         url('/assets/eponymous-italic-webfont.svg#eponymousitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}